[submodule "energymeter"]
	path = energymeter
	url = https://github.com/luftaquila/fsk-energymeter.git
[submodule "traffic"]
	path = traffic
	url = https://github.com/luftaquila/fsk-traffic.git
[submodule "queue"]
	path = queue
	url = https://github.com/luftaquila/fsk-queue.git
[submodule "web/autoindex"]
	path = web/autoindex
	url = https://github.com/luftaquila/autoindex.git
